{% extends 'site.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row col-12 justify-content-center">
    <h3 sytle="text-align:center"> DISCLAIMER CLAUSE</h3>
        </div>
    <hr>
    <pre>
        <code>
        <p>Before venturing with <strong>POLKI-DOLKI</strong>, it is hereby informed to the general public that our company is
engaged into the business of direct selling through its direct seller and retail outlets and in other business
activities as stated in the object clauses of memorandum of association of the company and we are also engaging
in the marketing or sales of goods directly to the end user consumer on M.R.P. using word of mouth, publicity,
display and /or demonstrations of the goods/products, and /or distribution of pamphlets. We do not indulge in
any kind of financial investment or float any investment scheme or chit fund entrepreneurship.
        </p><br>
<p>Any individual/firm/company who is able to do contract as per the provision of the Indian Contact Act, 1872 and
wish to become direct seller of the company, can apply to be appointed as a direct seller to marketing and selling
of company’s product in whole of India, in prescribed form through online/offline/manual. There is NO deposit or
any charges/enrollment fees/joining fees/renewal charges for becoming a direct seller of the company. Our company
shall not be responsible for any promises made by any individual/independent advisor/entity/direct seller/distributor
on its behalf, except any promise which is mentioned in the authentic broachers or on website https://polki_dolki.com
</p><br>
<p>We also declare that we have not been given any assurance or promise by the company or its Direct sellers as to any
income on account of the product purchase made by customer. However direct seller will be eligible for sales incentive
depending upon the volume of business done by him/her as per the Terms and Condition of the company.</p><br>
<p>The information contained in this website is for general information purposes only, the information is provided by
Polki-Dolki Limited and while we Endeavor to keep the information up to date and correct, we make no representation or
warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability
with respect to the website or the information, products, services, or related graphics contained on the website for
any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p><br>
<p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or
damage or any loss or damage whatsoever arising from loss of data or profits arising out of or in correction with the
use of this website.</p><br>
<p>Through this website you are able to link to other websites which are not under the control of Polki-Dolki Limited we
have no control over the nature, content and availability of those websites.</p><br>
<p>Kindly refer to our complete Terms and Conditions</p>
            </code>
</pre>
</div>

{% endblock %}